@import 'tailwindcss';

@theme {
	--color-background: #fbf5f3;
	--color-primary: #232323;
	--color-accent: #497583;
	--font-primary: 'IBM Plex Sans Variable', sans-serif;
	--font-accent: 'Baskervville Variable', serif;
}

@utility scrollbar-hidden {
	& {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

html {
	scroll-padding-top: 4rem;
	overflow-x: hidden;

	@media (width >= 64rem /* 1024px */) {
		scroll-padding-top: 1rem;
	}
}

body {
	background-color: var(--color-background);
	color: var(--color-primary);
	font-family: var(--font-primary);
}

::selection {
	color: var(--color-background);
	background: var(--color-accent);
}
