@import 'tailwindcss';

@theme {
	--color-background: #fbf5f3;
	--color-primary: #232323;
	--color-accent: #497583;
	--font-primary: 'IBM Plex Sans Variable', sans-serif;
	--font-accent: 'Baskervville Variable', serif;
}

@utility scrollbar-hidden {
	& {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

@keyframes rotate {
	from {
		filter: blur(0px);
		transform: rotate(360deg);
	}
	to {
		filter: blur(0px);
		transform: rotate(0deg);
	}
}

@keyframes rotate-reverse {
	from {
		filter: blur(0px);
		transform: rotate(0deg);
	}
	to {
		filter: blur(0px);
		transform: rotate(360deg);
	}
}

html {
	overflow-x: hidden;
	overscroll-behavior-y: none;
}

body {
	background-color: var(--color-background);
	color: var(--color-primary);
	font-family: var(--font-primary);
}

::selection {
	color: var(--color-background);
	background: var(--color-accent);
}
